.note-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    background-color: #313131;
    border-radius: 10px;
    opacity:1;
    border: 1px solid rgb(40, 39, 39);
    box-shadow: 3px 20px 50px 3px #21454a;
    padding: 5px;
    padding-left: 10px;
    color: #f5f4e1;
    cursor: pointer;
    z-index: 1;
  }

  .note-container_header{
    display: flex;
    justify-content: space-between;
  }

  .btn-delete, .btn-more, .btn-less{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #ffaba3;
  }
  
  .btn-more{
    background-color: #84fa82;
  }
  .btn-less{
    background-color:#fdff73;
  }

.add-new-note{
    display: inline-block;
}

.resizable {
  position: absolute;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
}

.resizer{
  position: absolute;
  background: black;
}
.resizerR{
  cursor: ne-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 5px;
}









/* border inside white for note : , inset 0px 0px 2px 1px #585858 */